/*
This file is subject to the terms and conditions defined in
file 'LICENSE.txt', which is part of this source code package.
*/
/*
    Created on : ‎February ‎5, ‎2018, ‏‎8:43:51 PM
    Author     : abhijithvijayan
*/

/* HOME BACKGROUND IMAGE */

.mainCover {
  background-color: #000;
  background-image: url('../img/geeks-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* MASTER HEAD */

p.mast {
  color: rgba(255, 255, 255, 0.7);
  font-size: 50px;
  float: left;
  font-family: Poppins;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 5px;
  position: relative;
  top: -38px;
  left: 7px;
}

/* DESCRIPTION */

p.des {
  margin: 0.9%;
  position: absolute;
  left: 42%;
  top: 7.5%;
  font-size:24px;
  font-family: courier;
  color: rgba(255, 255, 255, 0.7);
  padding: 5px;
}

/* EXTERNAL LINKS */

a.sites {
  position: relative;
  top: 75px;
  left: 55px;
}

/* EMAIL */

a.mail:link {
  color: rgba(255, 255, 255, 0.7);
  margin: 0.07%;
  font-size: 18px;
  text-decoration: none;
  position: absolute;
  left: 23%;
  top: 17.5%;
}

a.mail:hover {
  text-decoration: underline;
}

a:active {
  color:pink;
}

/* INTRO HEAD */

h1.introspec {
  margin:1%;
  color: orange;
  font-family: Poppins;
}

/* NUMBER */

p.num {
  float="left";
  color: #80ffff;
  margin: 0.07%;
  position: absolute;
  left: 23%;
  top: 15.5%;
}

/* INTRO */

p.intro, blockquote  {
  color: rgba(255, 255, 255, 0.6);
  font-family: Poppins;
}
